@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');

$main_bg_color: #1c3faa;
$main_text_color__white: #fff;
$main_text_color__black: #718096;

$main_font: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
	Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}
ul {
	li {
		list-style: none;
		a {
			text-decoration: none;
		}
	}
}
body {
	background-color: $main_bg_color;
	color: $main_text_color__black;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col {
	border-radius: 5px;
	box-sizing: border-box;
	margin: 30px 30px 0 0;
	background-color: #fff;
	position: relative;
	&:before {
		content: '';
		width: 85%;
		background-color: #f9fafc;
		box-shadow: 0px 3px 20px #0000000b;
		height: 100%;
		margin-top: 0.75rem;
		position: absolute;
		border-radius: 0.375rem;
		margin-left: auto;
		margin-right: auto;
		right: 0;
		left: 0;
		z-index: -1;
		top: 0;
	}
}

.zoom-in {
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	// transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--transform-translate-x: 0;
	--transform-translate-y: 0;
	--transform-rotate: 0;
	--transform-skew-x: 0;
	--transform-skew-y: 0;
	--transform-scale-x: 1;
	--transform-scale-y: 1;
	transform: translateX(var(--transform-translate-x))
		translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
		skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
		scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
	cursor: pointer;

	&:hover {
		--transform-scale-x: 1.05;
		--transform-scale-y: 1.05;
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
			0 10px 10px -5px rgba(0, 0, 0, 0.04);
	}
}

.box {
	box-shadow: 0px 3px 20px #0000000b;
	height: 100%;
	&-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		box-sizing: border-box;
	}
}

.app {
	font-family: $main_font;
	@include flexbox();

	padding: 12px 32px;
	box-sizing: border-box;
	height: 100%;
}

.side-nav {
	width: 300px;
	padding-right: 20px;
	overflow: hidden;
	box-sizing: border-box;
	.title {
		font-size: 18px;
		color: $main_text_color__white;
		padding: 16px 0 0 20px;
		margin-left: 12px;
		line-height: 1.5;
		span {
			font-weight: 500;
		}
	}
	&__devider {
		width: 100%;
		height: 1px;
		background-color: #2e51bb;
		z-index: 10;
		position: relative;
		margin: 24px 0;
	}
}

.side-menu {
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: $main_text_color__white;
	margin-bottom: 4px;
	position: relative;
	line-height: 1.5;

	&__title {
		display: flex;
		align-items: center;
		margin-left: 12px;
		font-size: 14px;
	}
	&--active {
		font-weight: 500;
		border-radius: 9999px;
		background-color: #f1f5f8;
		color: $main_text_color__black;

		&:before,
		&:after {
			content: '';
			width: 30px;
			height: 30px;
			margin-top: -30px;
			transform: rotate(90deg) scale(1.04);
			background-size: 100%;
			background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27259.51%27 height=%27259.52%27 viewBox=%270 0 259.51 259.52%27%3E%3Cpath id=%27Path_143%27 data-name=%27Path 143%27 d=%27M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z%27 transform=%27translate%28-8399.997 -164.445%29%27 fill=%27%23f1f5f8%27/%3E%3C/svg%3E%0A');
			position: absolute;
			top: 0;
			right: 0;
			margin-right: -20px;
			box-sizing: border-box;
		}
		&:after {
			margin-top: 50px;
			transform: scale(1.04);
		}
		.side-menu__title::before {
			content: '';
			z-index: 1;
			position: absolute;
			top: 0;
			right: 0;
			margin-right: -20px;
			width: 3rem;
			height: 100%;
			background-color: #f1f5f8;
		}
	}
}

/*
    weather
*/
.sidebar-weather {
	margin-top: 30px;
}
.weather {
	&-side {
		color: #fff;
		z-index: 100;
		border-radius: 30px;
		background-image: url('https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
		-webkit-transition: -webkit-transform 300ms ease;
		transition: -webkit-transform 300ms ease;
		-o-transition: transform 300ms ease;
		transition: transform 300ms ease;
		transition: transform 300ms ease, -webkit-transform 300ms ease;
		position: relative;
		padding: 30px;
		text-align: left;
		font-weight: bold;
	}
	&-gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
		border-radius: 25px;
		opacity: 0.8;
		z-index: -100;
	}
	&-container {
		margin-top: 54px;
		overflow: hidden;
	}
	&-temp {
		line-height: 0.5;
		font-size: 50px;
	}
	&-img {
		margin-left: -37px;
		width: 140px;
		height: 140px;
	}
	&-desc {
		font-size: 16px;
		line-height: 2;
		margin-top: 11px;
		white-space: nowrap;
		text-transform: capitalize;
	}
}

.date {
	&-container {
		font-weight: bold;
		font-family: 'Montserrat';
		svg {
			display: inline-block;
			height: 12px;
			width: 12px;
			margin-right: 5px;
		}
	}
	&-dayname {
		font-weight: bold;
		font-size: 24px;
	}
	&-day {
		display: block;
		font-size: 16px;
		font-weight: normal;
	}
}
.location {
	font-size: 14px;
	font-weight: normal;
}

.content {
	border-radius: 30px;
	padding: 0px 22px;
	min-height: 100%;
	background-color: #f1f5f8;
	flex: 1 1;
	padding-bottom: 40px;
}

.top-bar {
	height: 67px;
	z-index: 51;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #dee7ef;
	&__right {
		flex: 1;
		position: relative;
		max-width: 300px;
		margin-right: 24px;
		margin-left: auto;
	}
}

.search {
	display: block;
	width: 100%;

	input {
		padding: 12px;
		border-radius: 9999px;
		-webkit-appearance: none;
		appearance: none;
		background-color: #d2dfea;
		appearance: none;
		border: none;
		width: 100%;
		&:focus {
			outline: none;
			// border: 1px solid #5151e5;
			box-shadow: 0 0 10px #5151e5;
		}
	}
}

.search-result {
	transition: visibility 0s linear 0s, opacity 0.2s 0s;
	width: 100vw;
	max-width: 450px;
	z-index: 20;
	position: absolute;
	right: -23px;
	margin-top: 4px;
	background-color: #fff;
	border-radius: 3px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	strong {
		font-size: 14px;
		font-family: $main_font;
	}

	&__show {
		max-height: 1000px;
		transition: max-height 1s ease-in;
	}
	&-content {
		padding: 12px 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
		background-color: #f7fafc;
		border-bottom: 1px solid #edf2f7;
		.flag {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 15px;
			padding: 5px;
			box-sizing: border-box;
			img {
				width: 80%;
			}
		}
	}
	&__text {
		margin-left: auto;
	}

	&-child:hover {
		transform: scale(1.03, 1.02);
		position: relative;
		z-index: 20;
		box-shadow: 0 4px 6px #ddd;
		border-width: 0;
		border-radius: 0.25rem;
		background-color: #fff;
		color: #2d3748;
		transition: 0.3s;
		border-bottom-width: 1px;
		border-color: #edf2f7;
	}
}

.tab-today__item {
	width: calc((100% + 30px) / 3 - 30px);
	&:nth-child(3n) {
		margin-right: 0;
	}
	.box {
		&-content {
			padding: 20px;
		}
		box-shadow: 0px 3px 20px #0000000b;
		&-icon svg {
			width: 30px;
			height: 30px;
		}
		&-value {
			font-size: 30px;
			font-weight: bold;
			margin-top: 15px;
		}
		&-desc {
			color: #718096;
		}
	}
	.tab-today-sun {
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			font-weight: bold;
		}
	}
}

.tab-week__item {
	width: calc((100% + 30px) / 4 - 30px);
	&:nth-child(4n) {
		margin-right: 0;
	}
	.week {
		padding: 8px;
		&-header {
			display: flex;
			justify-content: space-between;
			&__day {
				font-weight: 500;
				font-size: 15px;
			}
			&__date {
				padding: 3px 6px;
				display: flex;
				border-radius: 9999px;
				color: #fff;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				font-size: 12px;
				font-weight: bold;
				background-color: #91c714;
			}
		}
		&-content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			&__img img {
				width: 60px;
			}
			&__deg {
				font-size: 13px;
				font-weight: bold;
			}
		}
	}
	&--active {
		color: #fff;
		border-radius: 5px;
		background-color: #1c3faa;
		transition-duration: 0;
		&:before {
			background-color: #1c3faa;
			box-shadow: 0px 3px 20px #1c3faa;
		}
		.week-header__date {
			background-color: #d32929;
		}
	}
}

.week-picked {
	padding: 12px 20px;
	box-sizing: border-box;
	margin-top: 30px;
	border-radius: 10px;
	background-color: #f9fafc;
	&__content {
		width: calc((100% + 30px) / 4 - 30px);
		&:nth-child(4n) {
			margin-right: 0;
		}
		&::before {
			content: none;
		}
	}
	&__header {
		padding: 12px 0;
		font-size: 15px;
		font-weight: 500;
		border-bottom: 1px solid #edf2f7;
	}
	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 15px;
	}
	&__logo {
		svg {
			width: 30px;
			height: 30px;
		}
	}
	&__decs {
		text-align: right;
		font-weight: 500;
		&-content {
			color: #d32929;
			&.description {
				text-transform: capitalize;
			}
		}
	}
}
